{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div style="margin-top: 100px;">
  <div class="d-flex justify-content-center">
    <div class="w-50">
      <div class="card mb-3">
        <div class="card-body">
          <br><strong>Admin Login</strong><br />
          Email: admin@email.com<br />
          Password: 123456</p>
          {% if message %}
          <p class="text-sm text-danger">{{ message }}</p>
          {% endif %}
          <form method="post" action="{% url 'server:login' %}">
            {% csrf_token %}
            <h3 class="text-center">Login</h3>
            <fieldset>

              {{ form|crispy }}
              
              <div class="form-group mb-3">
                <button type="submit" class="btn btn-primary mt-4">Login</button>
              </div>
            </fieldset>
          </form>
          <div class="d-flex justify-content-between">
            <div>
              <div>
                Don't have an account? <a href="{% url 'server:register' %}">register</a>
              </div>
              <div>
                Forgot password? <a href="{% url 'password_reset' %}">reset</a>
              </div>
            </div>
            <div>
              <a href="{% url 'admin:login' %}" style="text-decoration: none">admin login</a>
            </div>
        </div>
      </div>
  </div>
</div>
</div>
{% endblock %}